.star{
    font-size: 20px;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover,
.star.checked{
    color: gold;
}

.error {
    border: 2px solid red;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
